body {
    background-color: #f5d04e;
    font-family: "Figtree";
    color: black;
    margin: 0;
    width: 100vw;
    font-size: 5px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 20px;
    box-shadow: 1em 1em 0px black;
    background-color: white;
    border: 1px solid black;
    width: 80vw;
    height: 55vh;
/*     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start; */
    padding: 20px;
}

.image {
    width: 100%;
    border-radius: 15px;
}

.category {
    font-size: 14px;
    background-color: #f5d04e;
    border-radius: 3px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 5%;
}